@import '../utils/variables.scss';
@import '../utils/mixins.scss';

.about {
    margin-bottom: $betweeen-sections;
    height: 100vh;

    @include articleDisplay;

    h2 {
        text-align: center;
    }
}