@import '../utils/variables.scss';
@import '../utils/mixins.scss';

.contact {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;

    input,
    textarea {
        border-radius: 20px;
        margin: 10px;
        width: 100%;
        padding: 5px 20px;
        background-color: $terciary-color;
        border: none;
    }

    ::placeholder {
        color: $primary-color;
        opacity: 0.7;
        font-weight: 600;
    }

    input {}
}