@import '../utils/variables.scss';
@import '../utils/mixins.scss';

h1 {
    text-align: center;
    margin-bottom: $botom-h1;

}

h2 {
    text-align: center;
    margin-bottom: $botom-h2;
}

.heading {
    height: 90vh;

    article {
        .icons-box {
            @include articleDisplay;
            flex-direction: row;
            flex-wrap: wrap;

            .icons-with-label {
                @include articleDisplay;
                border: 1px solid $secondary-color;
                border-radius: 10px;
                padding: 10px 5px 0px;
                margin: 5px;

                p {
                    color: $header-color;
                }

                img {
                    width: 70px;
                    height: 70px;
                    object-fit: contain;

                }
            }
        }
    }
}