@import '../utils/variables.scss';

@mixin articleDisplay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@mixin anchors {
    text-decoration: none;
    color: $primary-color;
}