@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

//colors
$background-color: #0C1821;
$header-color: #000000;
$primary-color: #CCC9DC;
$secondary-color: #BDBBB0;

//fonts
$montserrat: 'Montserrat';

//spacing
$betweeen-sections: 60px;
$botom-h2: 30px;