@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700&display=swap');



//colors
$background-color: #FDFDFF;
$header-color: #62929E;
$primary-color: #393D3F;
$secondary-color: #C6C5B9;
$terciary-color: #62929E;

//fonts
$montserrat: 'Verdana';

//spacing
$betweeen-sections: 60px;
$botom-h2: 30px;
$botom-h1: 20px;
$side-spacing: 20px;